/* Variables */
:root {
    --main-color: #D11067;
    --secondary-color: #7A1628;
    --yellow-color: #FFF616;
    --light-yellow-color: #FEFBF4;
    --text-color: #172655;
    --dark-grey-color: #333333;
    --green-bg-color: #DEF5F0;
    --blue-bg-color: #e3edfd;
    --orange-bg-color: #f7e9e7;
    --light-grey-color: #EDEDED;
    --font-sans: 'Montserrat', sans-serif;
    --font-script: 'Satisfy', cursive;
    --max-width: 1200px;
    --small-radius: 10px;
    --medium-radius: 21px;
    --large-radius: 35px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.content {
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
}
  
@media (min-width: 576px) {
    .content {
      max-width: 540px;
    }
}
  
@media (min-width: 768px) {
    .content {
      max-width: 720px;
    }
}
  
@media (min-width: 992px) {
    .content {
      max-width: 960px;
    }
}
  
@media (min-width: 1200px) {
    .content {
      max-width: 1100px;
    }
}

body {
    font-family: var(--font-sans);
    color: var(--text-color);
    background-color: white;
}

a {
    color: var(--main-color);
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none;
}

/* Skip link */ 
.skip-link {
    position: absolute;
    top: -10px;
    left: 40%;
    background: var(--main-color);
    color: white;
    padding: 8px;
    z-index: -100; 
    border: #172655 20px;
}

.skip-link:focus {
    position: absolute;     
    bottom: 50px;
    left: 40%;
    z-index: 100!important;
}

/* Header */
.background {
    background-image: url('../img/blackboard.jpg');
    background-size: cover;
    background-position: center;
    width:100%;
}

.header-top {
    background-color: var(--main-color);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    font-size: 14px;
}
.header-top img{
    -webkit-box-align: stretch;
    vertical-align: text-bottom;
    margin-right: 10px;
}

.social-media {
    float: inline-end;
}

.social-media a{
    margin-right: unset;
}

.social-media img{
    margin-right: unset;
}

.header-top a {
    color: white;
    margin-right: 20px;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    font-family: var(--font-script);
    font-size: 35px;
    color: var(--main-color);
    margin-top: 10px;
    margin-bottom: -15px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
    padding: 5px;
}

nav ul li a {
    font-weight: bold;
    color: white;
    font-size: 15px;
}

nav ul li a:hover, nav ul li a:focus {
    text-decoration: underline 3px;
    text-underline-offset: 12px;
    color: white;
}

.log-in:hover, .log-in:focus  {
    color: var(--main-color);
    text-decoration: none;
}

.active {
    text-decoration: underline 3px;
    text-underline-offset: 12px;
    color: var(--yellow-color)
}


.sign-up {
    background-color: white;
    color: var(--main-color);
    padding: 10px;
    border-radius: var(--medium-radius);
}

.sign-up:hover, .sign-up:focus {
    background-color: var(--main-color);
    color: white;
    text-decoration: none;
}

/* Hero */
.hero {
    text-align: center;
    padding: 100px 20px;
    color: white;
}

.hero h1 {
    font-family: var(--font-script);
    font-size: 55px;
    margin-bottom: 20px;
    font-weight: 100;
    padding-left: 235px;
    padding-right: 235px;
    padding-bottom: 40px;
}

.hero h1 span {
    font-size: 60px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 30px;
}

.hero span {
    color: var(--yellow-color);
}

.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    position: relative;
    padding: 22px 30px;
}

.search-form input {
    padding: 24px;
    border: none;
    border-radius: var(--large-radius);
    font-size: 14px;
    width: 500px;
}

.search-form button {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 18px 20px;
    border-radius: var(--large-radius);
    cursor: pointer;
    margin-left: -148px;
    margin-top: 8px;
    z-index: 1;
    height: 50px;
    width: 140px;
}

.search-form button:hover {
    background-color: var(--text-color);
}

.search-form button img {
    vertical-align: middle; 
    margin-right: 8px;
}

.features {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.feature {
    text-align: center;
}

.feature h2 {
    font-size: 20px;
    margin-top: 10px;
}

.feature p {
    font-size: 15px;
}

/* Popular courses */
.popular-courses {
    padding: 50px 20px;
}

.popular-courses h2 {
    color: var(--main-color);
    font-size: 28px;
    margin-bottom: 30px;
}

.popular-courses p {
    margin-bottom: 20px;
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.course-card {
    text-align: left;
    border: 1px solid var(--light-grey-color);
    border-radius: var(--small-radius);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
}

.course-card:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.course-card img {
    width: 100%;
    transition: transform 0.3s;
}

.course-card p img {
    width: unset;
}

.course-card:hover img {
    transform: scale(1.1);
}

.course-info {
    padding: 15px;
}

.course-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.course-info p {
    font-size: 12px;
    color: var(--text-color);
    display: flex;
    justify-content: space-evenly;
}

.tag {
    font-size: 12px;
    padding: 2px 8px;
    border-radius: var(--medium-radius);
    position: absolute;
}

.bestTag {
    background-color: var(--yellow-color);
    color: var(--main-color);
    top: 10px;
    right: 10px; 
}

.newTag {
    background-color: var(--main-color);
    color: white;
    top: 10px;
}

.browse{
    text-align: center;
}

.browse-all-courses {
    height: auto;
    display: inline-flex;
    background-color: white;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    padding: 15px 20px;
    border-radius: var(--small-radius);
    margin-top: 30px;
    transition: background-color 0.3s, color 0.3s;
    justify-content: center!important;
}

.browse-all-courses:hover, .browse-all-courses:focus {
    background-color: var(--main-color);
    color: white;
}


/* Learning path */
.learning-path {
    background-image: url('../img/learn-path.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px 20px;
    color: white;
}

.learning-path h2 {
    font-family: var(--font-script);
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 15px;
}

.learning-path p {
    font-size: 15px;
    margin-bottom: 40px;
}

.get-started {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: var(--small-radius);
    transition: border-color 0.3s, color 0.3s;
    margin-bottom: 30px;
}

.get-started:hover, .get-started:focus {
    border-color: var(--yellow-color);
    color: var(--yellow-color);
}

/* Solutions */
.solutions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
    text-align: start;
    color: var(--secondary-color);
}

.solutions h2 {
    font-family: var(--font-script);
    font-weight: 300;
    font-size: 55px;
    margin-bottom: 40px;
    width: 100%;
    padding-right: 50px;
}

.solution-items {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 40px;
}

.solution-item {
    border-radius: var(--small-radius);
    padding: 20px;
    width: 600px;
    text-align: start;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.solution-item::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    left: 5px;
    z-index: -1;
}

#leadership::before {
    background-color: var(--green-bg-color)
}

#promotion::before {
    background-color: var(--blue-bg-color);
}

#rocket::before {
    background-color: var(--orange-bg-color);
}

img[data-img="promotion"] {
    top: 5px;
}

img[data-img="rocket"] {
    top: 8px;
}

.icon-container {
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.icon-container img {
    position: relative;
    z-index: 1;
}

.solution-item h3 {
    font-size: 18px;
    margin-top: 10px;
    margin: 0;
    color: var(--secondary-color);
}

.solution-item p {
    font-size: 15px;
    color: var(--text-color);
  
}

.solution-text {
    flex: 1;
}
.register-now {
    display: inline-block;
    background-color: white;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    padding: 10px 20px;
    border-radius: var(--small-radius);
    margin-top: 30px;
    transition: background-color 0.3s, color 0.3s;
    align-self: start;
    padding: 15px;
    position: relative;
    left: 80px;
}

.register-now:hover, .register-now:focus {
    background-color: var(--main-color);
    color: white;
}

.solutions img {
    border-radius: var(--small-radius);
    max-width: 100%;
    height: auto;
}

.solutions .svg {
    margin-right: 20px;
}

.student {
    width: 450px !important;
    margin-right: -80px;
    border-radius: var(--small-radius) !important;
}


/* Categories */
.categories {
    background-color: var(--light-grey-color);
    padding: 50px 20px;
    text-align: center;
}

.categories h2 {
    font-size: 30px;
    margin-bottom: 40px;
    color: var(--main-color);
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.category-card {
    background-color: var(--text-color);
    border: 1px solid var(--light-grey-color);
    border-radius: var(--medium-radius);
    padding: 40px;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    align-content: center;
}

.category-card:hover, .category-card:focus {
    background-color: var(--main-color);
    transform: scale(1.05);
    
}

.category-card h3 {
    font-size: 18px;
    color: white;
    margin-bottom: 15px;
}

.category-card p {
    font-size: 15px;
    color: white;
}

.large-card {
    grid-row: span 2;
}


/* Become instructor */
.become-instructor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
    color: var(--secondary-color);
    background-color: var(--light-yellow-color); 
}

.instructor-content {
    max-width: 50%;
    text-align: start;
    margin-left: 54px;
}

.become-instructor img {
    max-width: 45%;
    border-radius: var(--small-radius);
    margin-left: 20px;
}

.become-instructor h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.become-instructor p {
    font-size: 15px;
    color: var(--text-color);
    margin-bottom: 30px;
}

.apply-now {
    display: inline-block;
    background-color: white;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    padding: 15px;
    border-radius: var(--small-radius);
    transition: background-color 0.3s, color 0.3s;
}

.apply-now:hover, .apply-now:focus {
    background-color: var(--main-color);
    color: white;
}


/* Intro Section */

.main {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
}

/* Content and sidebar */
.main-content {
    flex: 3;
    margin-right: 20px;
}
.intro {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.intro h1{
    color: var(--main-color);
    margin-bottom:10px;
}

.intro p {
    margin-bottom: 40px;
    margin: 0 20px 20px 0;
}

.intro img {
    max-width: 60%;
    align-self: center;
    box-shadow: 3px 4px 5px  rgba(0, 0, 0, 0.2);
}

/* Steps Section */
.steps {
    padding: 50px 20px;
    font-size: 13px;
}

.steps p{
    margin-top: 15px;
    margin-bottom: 10px;
}

.steps ol {
    font-weight: bold;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--main-color);
    border: 2px solid var(--main-color); 
}


.steps ol :hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

.steps ol li a {
    text-decoration: none;
    color: var(--main-color);
}

.steps article {
    margin-bottom: 30px;
}

.career-path ol li::marker {
    font-size: 15px !important;
    font-weight: bold;
    text-indent: 6px !important;
}

.steps h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--secondary-color);
    counter-reset: section;
}

.steps h3 {
    margin-top: 30px;
    font-size: 17px;
    margin-bottom: 10px;
}

.steps h3::before {
    counter-increment: section;
    content: counter(section);
    padding: 5px;
    border: 1px solid var(--text-color);
    display: inline-block;
    text-align: -webkit-center;
    width: 20px;
    margin-right: 5px;
}

.steps h4 {
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}


.steps img{
    width: 3%;
    margin-right: 5px;
    position: relative;
    top: 4px;
}

#step4 h3{
    margin-right: -100px !important;
}

.steps button {
    margin-left: 15px;
    margin-top: 5px;
    background-color: white;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    height: 50px;
    padding: 10px 20px;
    border-radius: var(--small-radius);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.steps button:hover {
    background-color: var(--main-color);
    color:white;
}


.steps article p {
    margin-left: 15px;
}

.steps  ul {
    list-style: circle;
    column-count: 4;
    padding-left: 35px;
}

.steps ul li{
    padding: 2px;
}

.career-path ol li::marker {
    text-indent: 6px !important;
}

.steps .skills, .steps .degree {
    border: 0.1px solid var(--light-grey-color); 
    padding: 10px;
    margin-bottom:20px;
    margin-left: 15px;
}

.sidebar {
    flex: 1;
    position: sticky;
    top: 20px;
}

/* Career Path Section */
.career-path {
    padding: 15px;
    border: 1px solid var(--text-color);
    width: 250px;
    top: 150px;
    right: 20px;
}

.career-path h2 {
    font-size: 16px !important;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--text-color);
    background-color: var(--blue-bg-color);
    padding: 10px;
    text-align: center;
}

.career-path h3 {
    font-size: 15px !important;
    margin-bottom: 20px;
}

.career-path ol {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.career-path ol li {
    padding: 3px;
    margin-left: 17px;
    margin-top: 10px;
}

.career-path ol li::marker {
    font-size: 15px !important;
    font-weight: bold;
    text-indent: 6px !important;
}

.career-path p {
    font-size: 12px !important;
}

.career-path p span {
    font-weight: bold;
}

.calendar, .wallet, .bills {
    width: 10%;
    margin-right: 5px;
    position: relative;
    top: 4px;
}

.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 1.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 1.45em;
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}

.career-path span {
    align-self: center;
}

/* Contact */

#main-content {
    flex: 3;
    margin-right: 20px;
}
.intro-contact {
    text-align: center;
    margin-bottom: 40px;
}

.intro-contact h1 {
    font-size: 35px;
    margin-bottom: 10px;
    color: var(--main-color);
}

.offices {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.offices h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: var(--main-color);
    width: 100%; 
}

.offices .office {
    flex: 1 1 calc(50% - 20px); 
    margin-bottom: 20px;
}

.offices .office h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: var(--text-color);
}

.offices .office p, .offices .office a {
    font-size: 15px;
    color: var(--text-color);
}


.ambassadors {
    margin-bottom: 40px;
}

.ambassadors h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: var(--main-color);
    text-align: center;
}

.ambassador-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.ambassador {
    background-color: var(--light-grey-color);
    padding: 20px;
    border-radius: var(--small-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.ambassador-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ambassador h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: var(--text-color);
}

.ambassador p {
    font-size: 15px;
    color: var(--text-color);
    margin-bottom: 10px;
}

.ambassador a {
    font-size: 14px;
    color: var(--main-color);
    display: block;
    margin-top: 5px;
}

.ambassador a:hover {
    text-decoration: underline;
}

.flag {
    position: relative;
    left: 33px;
    top: -92px;
    height: 40px !important;
    width: 40px !important;
    margin-top: -10px;
    margin-bottom: 10px;
}



/* Contact Page Styles */
.contact-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-content {
    flex: 3;
    margin-right: 20px;
}

.call-you {
    width: 100px;
    flex: 1;
    background-color: var(--light-yellow-color);
    padding: 20px;
    border-radius: var(--small-radius);
    border: 1px solid var(--light-grey-color);
}

.call-you h2 {
    font-size: 24px;
    color: var(--main-color);
}

.call-you p {
    margin-bottom: 20px;
}

.call-you form {
    display: flex;
    flex-direction: column;
}

.call-you fieldset {
    border: none;
    margin-bottom: 20px;
}

.call-you legend {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--secondary-color);
}

.call-you label {
    display: block;
    margin-bottom: 5px;
}

.call-you input[type="text"],
.call-you input[type="email"],
.call-you input[type="tel"],
.call-you select {
    width: 100%;
    padding: 10px;
    border-radius: var(--small-radius);
    border: 1px solid var(--light-grey-color);
    margin-bottom: 10px;
}

.call-you input[type="checkbox"] {
    margin-right: 10px;
}

.call-you button {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 10px;
    border-radius: var(--small-radius);
    cursor: pointer;
    transition: background-color 0.3s;
}

.call-you button:hover {
    background-color: var(--secondary-color);
}

/* Intro Section */
.intro-contact {
    text-align: left;
    margin-bottom: 40px;
}

.intro-contact h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--main-color);
}

.offices {
    margin-bottom: 40px;
}

.offices h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--secondary-color);
}

.offices .office {
    margin-bottom: 20px;
}

.offices .office h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: var(--secondary-color);
}

.offices .office p,
.offices .office a {
    font-size: 15px;
    color: var(--text-color);
}

.ambassadors {
    margin-bottom: 40px;
}

.ambassadors h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: var(--main-color);
}

.ambassador {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.ambassador img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.ambassador div {
    flex: 1;
}

.ambassador h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: var(--text-color);
}

.ambassador p {
    font-size: 15px;
    color: var(--text-color);
}

.ambassador a {
    font-size: 14px;
    color: var(--main-color);
    display: block;
    margin-top: 5px;
}

.ambassador a:hover {
    text-decoration: underline;
}


/* Footer */
footer {
    background-color: var(--text-color);
    color: white;
    padding: 20px 0;
}

.footer-left{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: center;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 20px;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 20px;
}

.newsletter label {
    font-size: 15px;
    margin-bottom: 10px;
}

.newsletter input {
    color: white;
    padding: 24px;
    border: none;
    border-radius: var(--large-radius);
    font-size: 14px;
    width: 450px;
    background-color: #ffffff1f;;
}

.newsletter input::placeholder {
    color: white;
}

.newsletter button {
    background-color: white;
    color: white;
    border: none;
    padding: 18px 20px;
    border-radius: var(--large-radius);
    cursor: pointer;
    margin-left: -60px;
    margin-top: 8px;
    z-index: 1;
    height: 50px;
    width: 50px;
}

.newsletter button:hover {
    background-color: var(--main-color);
}


footer nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

footer nav ul li {    
   
    margin: 0 10px;
}

footer nav ul li a {
    font-size: 12px;
    color: white;
    text-decoration: none;
    font-weight:unset;
}

footer nav ul li a:hover {
    text-decoration: underline;
}

.footer-right {
    margin-left: 65%;
    position: relative;
    top: -120px;
}

.footer-right span{
    font-weight: bold;
}

.footer-right img {
    margin-bottom: -6px;
    width: 50%;
}

.footer-right a {
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
}

.footer-right a:hover {
    text-decoration: underline;
}

.footer-right p {
    font-size: 12px;
    color: white;
    margin-top: 10px;
}

.credits {
    margin-left: 20px;
    font-size: 12px;
    color: white;
    margin-top: -70px;
}

.credits a {
    color: white;
    background-color: #ffffff1f; 
    padding: 2px 4px; 
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.credits a:hover {
    text-decoration: underline;
}

/* Responsive Layout */
@media (max-width: 768px) {
    .content {
        padding-right: 1rem;
        padding-left: 1rem;
        width: 100%;
    }

    .header-main {
        flex-direction: column;
    }

    .solutions,
    .categories,
    .become-instructor,
    .intro,
    .steps,
    .career-path {
        flex-direction: column;
        align-items: center;
    }

    .footer-left,
    .footer-right {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .footer-right {
        top: unset;
        margin-top: 20px;
    }

    .solutions img {
        margin-right: 0;
    }

    .register-now {
        left: 0;
    }
}